.loading {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: white;
  max-width: 100%;
}

.loading > div {
  width: 10vmax;
  height: 10vmax;
  border-bottom: 5px solid black;
  border-radius: 50%;
  animation: loadingRoute 900ms linear infinite;
}

@keyframes loadingRoute {
  to {
    transform: rotateZ(-360deg);
  }
}
